body{
    background-color: black;
    color: aqua;
    position: relative;
}
.digitalClock{
    margin-top: 300px; 
    position: absolute;
  
    left: 50%;
    top: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;   

    

}

   


